body {
    background-color: black;
}
h2 {
    color: green;
    font-size: 100px;
}
<<<<<<< HEAD
.block {
    width: 1500px;
    background-color: bisque;
=======
.container {
    padding: 40px;
>>>>>>> 3d1d92b2f7952fc82fadd3ee5e30b2b6f01517b5
}